<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.besteffortnotify.rmbenas.mapper.DeDuplicationRmbenasMapper">

    <insert id="addTx" parameterType="com.besteffortnotify.rmbenas.entity.DeDuplicationRmbenas">
        insert into de_duplication_rmbenas
        <trim suffixOverrides="," prefix="(" suffix=")">
            <if test="txNo != null or txNo !=''">
                tx_no,
            </if>
            <if test="createTime != null or createTime != ''">
                create_time,
            </if>
        </trim>
        <trim suffixOverrides="," prefix="values (" suffix=")">
            <if test="txNo != null or txNo != ''">
                #{txNo, jdbcType=INTEGER},
            </if>
            <if test="createTime != null or createTime != ''">
                #{createTime, jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="isExistTx" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(tx_no)
        FROM de_duplication_rmbenas
        <where>
            <if test="txNo != null and txNo != null">
                tx_no = #{txNo, jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>